<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item", align="center">
      <img src="http://tastykitchen.com/recipes/files/2009/10/Eggs-Benedict-420x278.png" Height="450" Width="800" alt>
    </div>
     <div class="item", align="center">
      <img src="http://aht.seriouseats.com/images/2011/11/20111201-butcher-and-burger-umami-side.jpg" Height="350" Width="800" alt>
    </div>
  <div class="item", align="center">
      <img src="http://1.bp.blogspot.com/_kvfa3mi6_fc/TUcLZCXJlTI/AAAAAAAAAPY/ioZh9IOkZYQ/s1600/tacos+2.JPG" Height="350" Width="800" alt>
      </div>

  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<h3 align="center"> <%= link_to "Eat", dishes_url %> || <%= link_to "Explore", restaurants_url %> || <%= link_to "Share", new_meal_url %> </h3>
