<h2>Reviews</h2>
<form  class="navbar-search pull-left" action="/meals">
  <input type="text" class="search-query span3" placeholder="Search by Restaurant" name="keyword">
  <input type="submit" value='Submit'>
</form> &nbsp;&nbsp;
<a href="/meals">Reset search filter</a>
<br>
<br>
<br>
<div class="wrapper">
      <ul id="list_of_meals" class="wrapper">
        <% @meals.each do |meal| %>
        <%= render 'meal_partial', meal: meal %>
        <!-- <div class="dialog <%= meal.id %>" title="Details">
          <%= render 'meal_expanded_partial', meal:meal %>
        </div> -->
        <% end %>
      </ul>
</div>
