<h2>What do you wanna eat?</h2>

<table class="table table-striped">
  <tr>
    <th>Category</th>
    <th></th>
    <th>Top Rated</th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
    <td><%= link_to dish.category, dish %></td>
 	<th></th>
    <th><%= dish.meals.find_by_rating(5) %></th>  
  </tr>
<% end %>
</table>

<br />

<nav class="btn"><%= link_to 'New Category', new_dish_path %></nav>
