<h2>What do you wanna eat?</h2>



<!-- <form class="navbar-search pull-left" action="/dishes">
  <input type="text" class="search-query span3" placeholder="Search by Dish" name="keyword">
</form>
 -->


<!-- <table class="table table-striped">
  <tr>
    <th>Category</th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
    <td><%= link_to dish.category, dish %></td>
 	<th></th>
<% end %>
</table>

<nav class="btn"><%= link_to 'New Category', new_dish_path %></nav>
 -->
