<h2>What do you wanna eat?</h2>



<form class="navbar-search pull-left" action="/dishes">
  <input type="text" class="search-query span3" placeholder="Search by Dish" name="keyword">
</form>
<br><br><br>

<div id="accordion">
<% @dishes.order('category asc').each do |dish| %>
  <h3><%= dish.category %></h3>
  <div>
    <table class="table table-hover">
    <% dish.restaurants.order('name asc').uniq.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant %></td>
      <td>Average rating: <%= number_with_precision(restaurant.meals.where(dish_id: dish.id).average(:rating), :precision =>1) %> stars</td>
    </tr>

       | </li>
    <% end %>
  </table></div>
<% end -%>
  </div>

<nav class="btn"><%= link_to 'Add New Dish Category', new_dish_path %></nav>

