<h2>What do you wanna eat?</h2>



<form class="navbar-search pull-left" action="/dishes">
  <input type="text" class="search-query span3" placeholder="Search by Dish" name="keyword">
</form>
<br><br><br>

<div id="accordion">
<% @dishes.each do |dish| %>
  <h3><%= dish.category %></h3>
    <div><ul><% dish.restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant %></li>
    <% end %></ul></div>
<% end -%>
  </div>

<nav class="btn"><%= link_to 'New Category', new_dish_path %></nav>

