<div id="googlemap"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa0dzvBQBFQNVm363M9QJ5IFb1J23ro6A&amp;sensor=true&amp;libraries=places" type="text/javascript"></script>

<script type="text/javascript">

  // Address Autocomplete
  var input = document.getElementById('restaurant_search');
  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);

    // Autofill the fields in the form.
    var address = place.address_components;
    var website = place.url;
    console.log('should see address');

    console.log(address);

    if (address[address.length - 1]) {
      var zipcode = address[address.length - 1].long_name;
    };
    if (address[address.length - 2]) {
      var country = address[address.length - 2].long_name;
    };
    if (address[address.length - 3]) {
      var city = address[address.length - 3].long_name;
    };
    if (address[address.length - 4]) {
      var sublocality = address[address.length - 4].long_name;
    };
    if (address[0]) {
      var streetnumber = address[0].long_name;
    };
    if (address[1]) {
      var streetname = address[1].long_name;
    };
    if (place.name) {
      var location_name = place.name;
    }
    var formatted_address = place.formatted_address;
    var formatted_phone_number = place.formatted_phone_number;

    if (zipcode){
      document.getElementById("restaurant_postcode").value = zipcode;
    }
    if (city) {
      document.getElementById("restaurant_city").value = city;
    }
    if (country) {
      document.getElementById("restaurant_country").value = country;
    }
    if (sublocality) {
      document.getElementById("restaurant_district").value = sublocality;
    }
    if (streetname) {
      document.getElementById("restaurant_address").value = streetname;
    }
    if (location_name) {
      document.getElementById("restaurant_name").value = location_name;
    }
    if (formatted_phone_number) {
      document.getElementById("restaurant_phone_number").value = formatted_phone_number;
    }
    photos = place.photos;
    $('#place_images').empty();
    for (var i = 0; i < photos.length; i++) {
      var url = photos[i].raw_reference.fife_url;
      $('#place_images').prepend('<img src="' + url + '"/>');
    }
  });

</script>

<br />
