<h2>Where do you wanna eat?</h2>

<form class="navbar-search pull-left" action="/restaurants">
  <input type="text" class="search-query span3" placeholder="Search by Restaurant" name="keyword">
</form>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.address %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @restaurants %>

<br />

<nav class="btn"><%= link_to 'New Restaurant', new_restaurant_path %></nav>

