/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.css
 *= require bootstrap-responsive.css
 *= require jquery-star-rating
 *= require jquery-ui-1.10.2.custom
 *= require_tree .
 */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

.glyphw{
    background-image: url(/assets/glyphicons-halflings-white.png);
}

li.meal {
  background: #FAFAFA;
 /* background: -webkit-linear-gradient(-45deg, #fff, #a0a0a0);
     background: -moz-linear-gradient(-45deg, #fff, #a0a0a0);
      background: -ms-linear-gradient(-45deg, #fff, #a0a0a0);
       background: -o-linear-gradient(-45deg, #fff, #a0a0a0);
          background: linear-gradient(135deg, #fff, #a0a0a0);*/
 /* -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
     -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
*/
  box-shadow: 0px 0px 10px rgba(199, 199, 199, 1);
  float: left;
  height: 280px;
  padding: 10px;
  width: 260px;
  overflow: hidden;
  list-style-type: none;
/*  border-radius: 15px;
*/}

img.pic {
  margin-left:auto;
  margin-right:auto;
  border: 5px solid #fff;
  height: 200px;
  width: 250px;
  border-radius: 15px;
}

h5.meal {
  color: #666;
  font-size: 14px;
  margin-top: 12px;
  opacity: 1;
  text-align: center;
  position: relative;

/*  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
*/}
.hidden {
  text-align: center;
  vertical-align:middle;
  background: #fff;
  border: 5px solid #fff;
  height: 200px;
  width: 250px;
  display:table-cell;
  display:none !important;
  font-size: 18px;
}

p#review {
  text-align: center;
  vertical-align:middle;
  display:table-cell;
  background: #fff;
  border: 5px solid #fff;
  height: 200px;
  width: 250px;
  font-size: 18px;
  border-radius: 15px;
}

.boxes{
    height: 210px;
    overflow: hidden;
}

/*.brand {
font-family: 'Patrick Hand SC', cursive;
}*/

#bgimgwrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#bgimg {
  display: block;
  -ms-interpolation-mode: bicubic;
}

.white {
  color: #fff;
}

.reviewstars{
  margin-left: auto !important;
  margin-right: auto !important;
}

#signedin li{
  float: right !important;
}

#signup-user, #login-user {
  font-family: Patrick Hand SC;
  font-size: 32px;
  padding: 7px 0px 17px 0px;
  color: #ffffff;
  background: #e8cc4f;
  border: none;
  float: right;
}


#signup-user:hover, #login-user:hover{
color:#4f6be8;
}

#signup-user > .ui-button-text  {
  padding-right: 0px;
  padding-left: 0px;
}

a.nohighlight {
  color: #666;
  text-decoration: none;
}

#meal_partial {
  font-size: 14px;
}

#thumb {
  width: 100px;
}

.ui-dialog {
  font-family: Raleway !important;
  font-size:1.0em !important;

}

.wrapper {
  text-align: center;
}

  .wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
    }

